<a href="https://colab.research.google.com/github/MalikYOUSSOUF/4dvop-app/blob/master/19122019_Analyse_Statistique_JO_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analyse statistique sur les Jeux Olympiques avec R

![image.png](attachment:image.png)

#### Téléchargement des données
https://docs.google.com/document/d/1HgPH1u0r7Pze5HrErzVXbxFcA_9wUpknUCMtgbPh8BM/edit?usp=sharing

Plan:

1. Rappel sur Dplyr
2. Exemple de manipulation de donnée
3. Questions

#### Rappel sur R:

* https://suzan.rbind.io/2018/02/dplyr-tutorial-3/#filtering-rows-based-on-a-numeric-variable
* https://ggplot2.tidyverse.org/
* https://thinkr.fr/utiliser-la-grammaire-dplyr-pour-triturer-ses-donnees/

#### II- Exemple de manipulation de données

##### Manipulation de données avec dplyr

Il ya 5 fonctions à connaitre dans le package dplyr.
* **select** : Selection de colonnes
* **filter** : Filtre sur les données
* **mutate** : Création d'une nouvel colonne
* **arrange** : Trie des données
* **summarise** : Aggrege les données en un résumé

In [17]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [18]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [19]:
# Définition du nom de fichier
filename <- "athlete_events.csv" 
# Chargement du fichier
dataset <- read.csv(filename, header=TRUE, encoding = "UTF-8") 

# Affichage des 5 premières lignes
head(dataset)

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

In [22]:
#### Filtre sur le pays France
library("dplyr")
dataset %>% filter(Team == "France")

      ID     Name                               Sex Age Height Weight Team
1      34    Jamale (Djamel-) Aarrass (Ahrass-) M   30  187     76    France
2      52    Patrick Abada                      M   22  189     80    France
3      56    Ren Abadie                         M   21   NA     NA    France
4      56    Ren Abadie                         M   21   NA     NA    France
5      73    Luc Abalo                          M   23  182     86    France
6      73    Luc Abalo                          M   27  182     86    France
7      73    Luc Abalo                          M   31  182     86    France
8      93    Jol Marc Abati                     M   34  190     85    France
9      93    Jol Marc Abati                     M   38  190     85    France
10    167    Ould Lamine Abdallah               M   NA   NA     NA    France
11    237    Ben Ahmed Abdelkrim                M   20   NA     NA    France
12    434    David Abibssira                    M   21  179     63    France
13    444    Camille Anne Franoise Abily        F   27  168     60    France
14    444    Camille Anne Franoise Abily        F   31  168     60    France
15    515    Stphan Abrahamian Gonzalez         M   22   NA     NA    France
16    558    David Abrard                       M   19  187     81    France
17    573    Franck Abrial                      M   24  174     68    France
18    583    Julien Absalon                     M   23  180     68    France
19    583    Julien Absalon                     M   27  180     68    France
20    583    Julien Absalon                     M   31  180     68    France
21    583    Julien Absalon                     M   35  180     68    France
22    626    Alain Acart                        M   21  175     67    France
23    626    Alain Acart                        M   25  175     67    France
24    628    Jacques Accambray                  M   22  194    125    France
25    628    Jacques Accambray                  M   26  194    125    France
26    629    William Accambray                  M   24  194    104    France
27    676    Gaston Achille                     M   NA   NA     NA    France
28    677    Georges Achille-Fould              F   55   NA     NA    France
29    757    Adam                               M   NA   NA     NA    France
30    758    Adam                               M   NA   NA     NA    France
⋮     ⋮      ⋮                                  ⋮   ⋮   ⋮      ⋮      ⋮
11959 133720 Pierre Zadin                       M   30   NA    NA     France
11960 133811 John Zakrzewski                    M   25  186    80     France
11961 133968 Jean-Louis Zanon                   M   23  180    70     France
11962 134104 Othello Zavaroni                   M   38   NA    NA     France
11963 134209 Gary Zebrowski                     M   21  179    76     France
11964 134209 Gary Zebrowski                     M   25  179    76     France
11965 134245 Ernst Emil Georg Zeibig            M   22   NA    NA     France
11966 134245 Ernst Emil Georg Zeibig            M   22   NA    NA     France
11967 134245 Ernst Emil Georg Zeibig            M   22   NA    NA     France
11968 134245 Ernst Emil Georg Zeibig            M   26   NA    NA     France
11969 134314 Raymond Zembri                     M   23  180    68     France
11970 134401 Mickal-Meba Zz                     M   22  175    66     France
11971 135001 Pascal Zilliox                     M   30  175    56     France
11972 135084 Lucien Zins                        M   25   NA    NA     France
11973 135084 Lucien Zins                        M   29   NA    NA     France
11974 135137 Freddy Zix                         M   33  178    76     France
11975 135139 Jean Zizine                        M   29   NA    NA     France
11976 135173 Henri Achille Zo                   M   58   NA    NA     France
11977 135173 Henri Achille Zo                   M   58   NA    NA     France
11978 135188 Andr Georges Zoete                 M   25  156    52     France
11979 135188 Andr Georges Zoete                 M   25  156    52     France
11980 135188 Andr Georges Zoete                 M   28  156    52     France
11981 135188 Andr Georges Zoete                 M   33  156    52     France
11982 135278 Vincent Zouaoui-Dandrieux          M   27  188    72     France
11983 135278 Vincent Zouaoui-Dandrieux          M   31  188    72     France
11984 135362 Michel Zucarelli                   M   18  175    67     France
11985 135362 Michel Zucarelli                   M   18  175    67     France
11986 135538 Jonathan Zwikel                    M   22  183    84     France
11987 135538 Jonathan Zwikel                    M   26  183    84     France
11988 135539 Marius Edmund Zwiller              M   18   NA    NA     France
      NOC Games       Year Season City           Sport
1     FRA 2012 Summer 2012 Summer London         Athletics
2     FRA 1976 Summer 1976 Summer Montreal       Athletics
3     FRA 1956 Summer 1956 Summer Melbourne      Cycling
4     FRA 1956 Summer 1956 Summer Melbourne      Cycling
5     FRA 2008 Summer 2008 Summer Beijing        Handball
6     FRA 2012 Summer 2012 Summer London         Handball
7     FRA 2016 Summer 2016 Summer Rio de Janeiro Handball
8     FRA 2004 Summer 2004 Summer Athina         Handball
9     FRA 2008 Summer 2008 Summer Beijing        Handball
10    FRA 1952 Summer 1952 Summer Helsinki       Athletics
11    FRA 1952 Summer 1952 Summer Helsinki       Athletics
12    FRA 1984 Summer 1984 Summer Los Angeles    Shooting
13    FRA 2012 Summer 2012 Summer London         Football
14    FRA 2016 Summer 2016 Summer Rio de Janeiro Football
15    FRA 1968 Summer 1968 Summer Mexico City    Cycling
16    FRA 1996 Summer 1996 Summer Atlanta        Swimming
17    FRA 1988 Summer 1988 Summer Seoul          Wrestling
18    FRA 2004 Summer 2004 Summer Athina         Cycling
19    FRA 2008 Summer 2008 Summer Beijing        Cycling
20    FRA 2012 Summer 2012 Summer London         Cycling
21    FRA 2016 Summer 2016 Summer Rio de Janeiro Cycling
22    FRA 1972 Summer 1972 Summer Munich         Canoeing
23    FRA 1976 Summer 1976 Summer Montreal       Canoeing
24    FRA 1972 Summer 1972 Summer Munich         Athletics
25    FRA 1976 Summer 1976 Summer Montreal       Athletics
26    FRA 2012 Summer 2012 Summer London         Handball
27    FRA 1900 Summer 1900 Summer Paris          Fencing
28    FRA 1924 Summer 1924 Summer Paris          Art Competitions
29    FRA 1900 Summer 1900 Summer Paris          Fencing
30    FRA 1900 Summer 1900 Summer Paris          Swimming
⋮     ⋮   ⋮           ⋮    ⋮      ⋮              ⋮
11959 FRA 1924 Summer 1924 Summer Paris          Athletics
11960 FRA 2008 Summer 2008 Summer Beijing        Modern Pentathlon
11961 FRA 1984 Summer 1984 Summer Los Angeles    Football
11962 FRA 1948 Summer 1948 Summer London         Art Competitions
11963 FRA 2006 Winter 2006 Winter Torino         Snowboarding
11964 FRA 2010 Winter 2010 Winter Vancouver      Snowboarding
11965 FRA 1924 Summer 1924 Summer Paris          Swimming
11966 FRA 1924 Summer 1924 Summer Paris          Swimming
11967 FRA 1924 Summer 1924 Summer Paris          Swimming
11968 FRA 1928 Summer 1928 Summer Amsterdam      Swimming
11969 FRA 1972 Summer 1972 Summer Munich         Athletics
11970 FRA 2016 Summer 2016 Summer Rio de Janeiro Athletics
11971 FRA 1992 Summer 1992 Summer Barcelona      Athletics
11972 FRA 1948 Summer 1948 Summer London         Swimming
11973 FRA 1952 Summer 1952 Summer Helsinki       Swimming
11974 FRA 1968 Summer 1968 Summer Mexico City    Football
11975 FRA 1952 Summer 1952 Summer Helsinki       Hockey
11976 FRA 1932 Summer 1932 Summer Los Angeles    Art Competitions
11977 FRA 1932 Summer 1932 Summer Los Angeles    Art Competitions
11978 FRA 1956 Summer 1956 Summer Melbourne      Wrestling
11979 FRA 1956 Summer 1956 Summer Melbourne      Wrestling
11980 FRA 1960 Summer 1960 Summer Roma           Wrestling
11981 FRA 1964 Summer 1964 Summer Tokyo          Wrestling
11982 FRA 2008 Summer 2008 Summer Beijing        Athletics
11983 FRA 2012 Summer 2012 Summer London         Athletics
11984 FRA 1972 Summer 1972 Summer Munich         Cycling
11985 FRA 1972 Summer 1972 Summer Munich         Cycling
11986 FRA 1998 Winter 1998 Winter Nagano         Ice Hockey
11987 FRA 2002 Winter 2002 Winter Salt Lake City Ice Hockey
11988 FRA 1924 Summer 1924 Summer Paris          Swimming
      Event                                              Medal
1     Athletics Men's 1,500 metres                       NA
2     Athletics Men's Pole Vault                         NA
3     Cycling Men's Road Race, Individual                NA
4     Cycling Men's Road Race, Team                      Gold
5     Handball Men's Handball                            Gold
6     Handball Men's Handball                            Gold
7     Handball Men's Handball                            Silver
8     Handball Men's Handball                            NA
9     Handball Men's Handball                            Gold
10    Athletics Men's 10,000 metres                      NA
11    Athletics Men's 5,000 metres                       NA
12    Shooting Men's Running Target, 50 metres           NA
13    Football Women's Football                          NA
14    Football Women's Football                          NA
15    Cycling Men's Road Race, Individual                NA
16    Swimming Men's 200 metres Butterfly                NA
17    Wrestling Men's Lightweight, Greco-Roman           NA
18    Cycling Men's Mountainbike, Cross-Country          Gold
19    Cycling Men's Mountainbike, Cross-Country          Gold
20    Cycling Men's Mountainbike, Cross-Country          NA
21    Cycling Men's Mountainbike, Cross-Country          NA
22    Canoeing Men's Canadian Doubles, 1,000 metres      NA
23    Canoeing Men's Canadian Doubles, 1,000 metres      NA
24    Athletics Men's Hammer Throw                       NA
25    Athletics Men's Hammer Throw                       NA
26    Handball Men's Handball                            Gold
27    Fencing Men's epee, Individual                     NA
28    Art Competitions Mixed Painting                    NA
29    Fencing Men's epee, Individual                     NA
30    Swimming Men's 200 metres Freestyle                NA
⋮     ⋮                                                  ⋮
11959 Athletics Men's Hammer Throw                       NA
11960 Modern Pentathlon Men's Individual                 NA
11961 Football Men's Football                            Gold
11962 Art Competitions Mixed Architecture, Unknown Event NA
11963 Snowboarding Men's Halfpipe                        NA
11964 Snowboarding Men's Halfpipe                        NA
11965 Swimming Men's 100 metres Freestyle                NA
11966 Swimming Men's 4 x 200 metres Freestyle Relay      NA
11967 Swimming Men's 100 metres Backstroke               NA
11968 Swimming Men's 100 metres Backstroke               NA
11969 Athletics Men's 5,000 metres                       NA
11970 Athletics Men's 4 x 100 metres Relay               NA
11971 Athletics Men's Marathon                           NA
11972 Swimming Men's 100 metres Backstroke               NA
11973 Swimming Men's 100 metres Backstroke               NA
11974 Football Men's Football                            NA
11975 Hockey Men's Hockey                                NA
11976 Art Competitions Mixed Painting, Unknown Event     NA
11977 Art Competitions Mixed Painting, Unknown Event     NA
11978 Wrestling Men's Flyweight, Greco-Roman             NA
11979 Wrestling Men's Flyweight, Freestyle               NA
11980 Wrestling Men's Flyweight, Freestyle               NA
11981 Wrestling Men's Flyweight, Freestyle               NA
11982 Athletics Men's 3,000 metres Steeplechase          NA
11983 Athletics Men's 3,000 metres Steeplechase          NA
11984 Cycling Men's Individual Pursuit, 4,000 metres     NA
11985 Cycling Men's Team Pursuit, 4,000 metres           NA
11986 Ice Hockey Men's Ice Hockey                        NA
11987 Ice Hockey Men's Ice Hockey                        NA
11988 Swimming Men's 200 metres Breaststroke             NA

In [66]:
### Dimension des données

dim(dataset)

[1] 271116     15

In [24]:
#### Type de données pour chaque variable

sapply(dataset, class)

         ID        Name         Sex         Age      Height      Weight
  "integer" "character" "character"   "integer"   "integer"   "numeric"
       Team         NOC       Games        Year      Season        City
"character" "character" "character"   "integer" "character" "character"
      Sport       Event       Medal
"character" "character" "character"

In [25]:
#### Summury des données

summary(dataset)

       ID             Name               Sex                 Age
 Min.   :     1   Length:271116      Length:271116      Min.   :10.00
 1st Qu.: 34643   Class :character   Class :character   1st Qu.:21.00
 Median : 68205   Mode  :character   Mode  :character   Median :24.00
 Mean   : 68249                                         Mean   :25.56
 3rd Qu.:102097                                         3rd Qu.:28.00
 Max.   :135571                                         Max.   :97.00
                                                        NA's   :9474
     Height          Weight          Team               NOC
 Min.   :127.0   Min.   : 25.0   Length:271116      Length:271116
 1st Qu.:168.0   1st Qu.: 60.0   Class :character   Class :character
 Median :175.0   Median : 70.0   Mode  :character   Mode  :character
 Mean   :175.3   Mean   : 70.7
 3rd Qu.:183.0   3rd Qu.: 79.0
 Max.   :226.0   Max.   :214.0
 NA's   :60171   NA's   :62875
    Games                Year         Season              City
 Length:271116      Min.   :1896   Length:271116      Length:271116
 Class :character   1st Qu.:1960   Class :character   Class :character
 Mode  :character   Median :1988   Mode  :character   Mode  :character
                    Mean   :1978
                    3rd Qu.:2002
                    Max.   :2016

    Sport              Event              Medal
 Length:271116      Length:271116      Length:271116
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character

In [26]:
#### Chargement dplyr

library("dplyr")

In [ ]:
#### Sélection des colonnes Team, Games et City
head(select(dataset, Team, Games, City ),5)

  Team           Games       City
1 China          1992 Summer Barcelona
2 China          2012 Summer London
3 Denmark        1920 Summer Antwerpen
4 Denmark/Sweden 1900 Summer Paris
5 Netherlands    1988 Winter Calgary

In [27]:
#### Autrement, on peut écrire cette fonction avec le pipe
#### Equivalent du point en python
select(dataset, Team, Games, City ) %>% head()

  Team           Games       City
1 China          1992 Summer Barcelona
2 China          2012 Summer London
3 Denmark        1920 Summer Antwerpen
4 Denmark/Sweden 1900 Summer Paris
5 Netherlands    1988 Winter Calgary
6 Netherlands    1988 Winter Calgary

In [28]:
#### Ou encore(méthode que je recommande)

dataset %>% select(Team, Games) %>% head()

  Team           Games
1 China          1992 Summer
2 China          2012 Summer
3 Denmark        1920 Summer
4 Denmark/Sweden 1900 Summer
5 Netherlands    1988 Winter
6 Netherlands    1988 Winter

#### Filter

In [30]:
#### Filtre sur l'année 1980

head(filter(dataset,  Year== "1980"),5)

  ID  Name                                     Sex Age Height Weight
1  11 Jorma Ilmari Aalto                       M   22  182     76.5
2  85 Alejandro Abascal Garca                  M   28  181     82.0
3  86 Jos Manuel Abascal Gmez                  M   22  182     67.0
4  88 Nunu Dzhansuhivna Abashydze (-Myslaieva) F   25  168    105.0
5 108 Giuseppe Abbagnale                       M   20  187     97.0
  Team         NOC Games       Year Season City        Sport
1 Finland      FIN 1980 Winter 1980 Winter Lake Placid Cross Country Skiing
2 Spain        ESP 1980 Summer 1980 Summer Moskva      Sailing
3 Spain        ESP 1980 Summer 1980 Summer Moskva      Athletics
4 Soviet Union URS 1980 Summer 1980 Summer Moskva      Athletics
5 Italy        ITA 1980 Summer 1980 Summer Moskva      Rowing
  Event                                       Medal
1 Cross Country Skiing Men's 30 kilometres    NA
2 Sailing Mixed Two Person Heavyweight Dinghy Gold
3 Athletics Men's 1,500 metres                NA
4 Athletics Women's Shot Put                  NA
5 Rowing Men's Coxed Pairs                    NA

Attention à bien mettre le == au lieu dusigne =

In [31]:
#### Autrement

dataset %>% filter(Year== "1980") %>% head()

  ID  Name                                      Sex Age Height Weight
1  11 Jorma Ilmari Aalto                        M   22  182     76.5
2  85 Alejandro Abascal Garca                   M   28  181     82.0
3  86 Jos Manuel Abascal Gmez                   M   22  182     67.0
4  88 Nunu Dzhansuhivna Abashydze (-Myslaieva)  F   25  168    105.0
5 108 Giuseppe Abbagnale                        M   20  187     97.0
6 109 Abdul Latif Al-Sayed Abbas Youssef Hashem M   27  176     64.0
  Team         NOC Games       Year Season City        Sport
1 Finland      FIN 1980 Winter 1980 Winter Lake Placid Cross Country Skiing
2 Spain        ESP 1980 Summer 1980 Summer Moskva      Sailing
3 Spain        ESP 1980 Summer 1980 Summer Moskva      Athletics
4 Soviet Union URS 1980 Summer 1980 Summer Moskva      Athletics
5 Italy        ITA 1980 Summer 1980 Summer Moskva      Rowing
6 Kuwait       KUW 1980 Summer 1980 Summer Moskva      Athletics
  Event                                       Medal
1 Cross Country Skiing Men's 30 kilometres    NA
2 Sailing Mixed Two Person Heavyweight Dinghy Gold
3 Athletics Men's 1,500 metres                NA
4 Athletics Women's Shot Put                  NA
5 Rowing Men's Coxed Pairs                    NA
6 Athletics Men's 400 metres Hurdles          NA

#### Arrange

In [35]:
#### Trie des données par naissance et année par ordre croissant

head(arrange(dataset), 10)

   ID Name                     Sex Age Height Weight Team           NOC
1  1  A Dijiang                M   24  180    80     China          CHN
2  2  A Lamusi                 M   23  170    60     China          CHN
3  3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4  4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5  5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6  5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
7  5  Christine Jacoba Aaftink F   25  185    82     Netherlands    NED
8  5  Christine Jacoba Aaftink F   25  185    82     Netherlands    NED
9  5  Christine Jacoba Aaftink F   27  185    82     Netherlands    NED
10 5  Christine Jacoba Aaftink F   27  185    82     Netherlands    NED
   Games       Year Season City        Sport
1  1992 Summer 1992 Summer Barcelona   Basketball
2  2012 Summer 2012 Summer London      Judo
3  1920 Summer 1920 Summer Antwerpen   Football
4  1900 Summer 1900 Summer Paris       Tug-Of-War
5  1988 Winter 1988 Winter Calgary     Speed Skating
6  1988 Winter 1988 Winter Calgary     Speed Skating
7  1992 Winter 1992 Winter Albertville Speed Skating
8  1992 Winter 1992 Winter Albertville Speed Skating
9  1994 Winter 1994 Winter Lillehammer Speed Skating
10 1994 Winter 1994 Winter Lillehammer Speed Skating
   Event                              Medal
1  Basketball Men's Basketball        NA
2  Judo Men's Extra-Lightweight       NA
3  Football Men's Football            NA
4  Tug-Of-War Men's Tug-Of-War        Gold
5  Speed Skating Women's 500 metres   NA
6  Speed Skating Women's 1,000 metres NA
7  Speed Skating Women's 500 metres   NA
8  Speed Skating Women's 1,000 metres NA
9  Speed Skating Women's 500 metres   NA
10 Speed Skating Women's 1,000 metres NA

In [36]:
#### Trie des données par ordre décroissant

head(arrange(dataset, desc(Year), desc(Sport)), 20)

   ID   Name                                   Sex Age Height Weight Team
1   250 Saeid Morad Abdevali                   M   26  170     80    Iran
2   338 Muminzhon Abdullayev                   M   26  190    130    Uzbekistan
3   354 Bekzod Makhamadzhonovich Abdurakhmonov M   26  172     74    Uzbekistan
4   721 Mara Jos Acosta Acosta                 F   24  172     69    Venezuela
5   864 Yasemin Adar                           F   24  180     75    Turkey
6   902 Odunayo Folasade Adekuoroye            F   22  169     53    Nigeria
7   924 Aminat Oluwafunmilayo Adeniyi          F   23  165     58    Nigeria
8  1525 Zied Ait Ouagram                       M   27  191     75    Morocco
9  1634 Taha Akgl                              M   25  192    125    Turkey
10 1645 Habibollah Jomeh Akhlaghi              M   31  175     90    Iran
11 2359 Islam-Beka Said-Tsilimovich Albiyev    M   27  165     66    Russia
12 2474 Daniel Tihomirov Aleksandrov           M   24  182     81    Bulgaria
13 2497 Artur Aleksanyan                       M   24  190     98    Armenia
14 2605 Alin Alexuc-Ciurariu                   M   26  191    105    Romania
15 2685 Annabel Laure Ali                      F   31  176     75    Cameroon
16 3440 Sandro Aminashvili                     M   24  180     85    Georgia
17 3537 Marwa Al-Amri                          F   27  160     58    Tunisia
18 4211 Valeriy Oleksandrovych Andriitsev      M   29  181     97    Ukraine
19 4454 Chakir Ansari                          M   25  168     57    Morocco
20 4501 Lissette Alexandra Antes Castillo      F   25  177     58    Ecuador
   NOC Games       Year Season City           Sport
1  IRI 2016 Summer 2016 Summer Rio de Janeiro Wrestling
2  UZB 2016 Summer 2016 Summer Rio de Janeiro Wrestling
3  UZB 2016 Summer 2016 Summer Rio de Janeiro Wrestling
4  VEN 2016 Summer 2016 Summer Rio de Janeiro Wrestling
5  TUR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
6  NGR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
7  NGR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
8  MAR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
9  TUR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
10 IRI 2016 Summer 2016 Summer Rio de Janeiro Wrestling
11 RUS 2016 Summer 2016 Summer Rio de Janeiro Wrestling
12 BUL 2016 Summer 2016 Summer Rio de Janeiro Wrestling
13 ARM 2016 Summer 2016 Summer Rio de Janeiro Wrestling
14 ROU 2016 Summer 2016 Summer Rio de Janeiro Wrestling
15 CMR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
16 GEO 2016 Summer 2016 Summer Rio de Janeiro Wrestling
17 TUN 2016 Summer 2016 Summer Rio de Janeiro Wrestling
18 UKR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
19 MAR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
20 ECU 2016 Summer 2016 Summer Rio de Janeiro Wrestling
   Event                                          Medal
1  Wrestling Men's Middleweight, Greco-Roman      Bronze
2  Wrestling Men's Super-Heavyweight, Greco-Roman NA
3  Wrestling Men's Middleweight, Freestyle        NA
4  Wrestling Women's Light-Heavyweight, Freestyle NA
5  Wrestling Women's Heavyweight, Freestyle       NA
6  Wrestling Women's Featherweight, Freestyle     NA
7  Wrestling Women's Lightweight, Freestyle       NA
8  Wrestling Men's Middleweight, Greco-Roman      NA
9  Wrestling Men's Super-Heavyweight, Freestyle   Gold
10 Wrestling Men's Light-Heavyweight, Greco-Roman NA
11 Wrestling Men's Welterweight, Greco-Roman      NA
12 Wrestling Men's Middleweight, Greco-Roman      NA
13 Wrestling Men's Heavyweight, Greco-Roman       Gold
14 Wrestling Men's Heavyweight, Greco-Roman       NA
15 Wrestling Women's Heavyweight, Freestyle       NA
16 Wrestling Men's Light-Heavyweight, Freestyle   NA
17 Wrestling Women's Lightweight, Freestyle       Bronze
18 Wrestling Men's Heavyweight, Freestyle         NA
19 Wrestling Men's Featherweight, Freestyle       NA
20 Wrestling Women's Lightweight, Freestyle       NA

#### Mutate

In [37]:
#### Ajout d'une nouvelle variable year_start qui définie l'année 1880 comme l'année 0

mutate(dataset, year_start = Year - 1880) %>% head()

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal year_start
1 Basketball Men's Basketball        NA    112
2 Judo Men's Extra-Lightweight       NA    132
3 Football Men's Football            NA     40
4 Tug-Of-War Men's Tug-Of-War        Gold   20
5 Speed Skating Women's 500 metres   NA    108
6 Speed Skating Women's 1,000 metres NA    108

#### Summarise

In [40]:
#### Résumé des données à l'aide de summaryse
#### Somme totale des prénoms

summarise(dataset, somme = sum(Height))

  somme
1 NA

In [41]:
#### Grouper par année et sommer le poins

by_annee <- group_by(dataset, Team)
summarise(by_annee, somme = sum(Weight), na.rm = TRUE) %>% head()

`summarise()` ungrouping output (override with `.groups` argument)

  Team                  somme na.rm
1 30. Februar            NA   TRUE
2 A North American Team  NA   TRUE
3 Acipactli             226   TRUE
4 Acturus                NA   TRUE
5 Afghanistan            NA   TRUE
6 Akatonbo              240   TRUE

In [42]:
dataset %>% filter(Sport == "Judo" | Sport == "Football") %>% arrange(Year)

      ID     Name                                       Sex Age Height Weight
1       2829 Richard Louis Pierre Allemane              M   18  NA     NA
2       6510 Louis Dsir Bach                            M   17  NA     NA
3      12293 Alfred Bloch                               M   NA  NA     NA
4      16085 Claude Percival Buckenham                  M   24  NA     NA
5      16727 Tom Eustace Burridge                       M   19  NA     NA
6      17893 Fernand mile Canelle                       M   18  NA     NA
7      19595 Alfred Ernest Chalk                        M   25  NA     NA
8      27218 Albert Delbecque                           M   NA  NA     NA
9      30724 R. Duparc                                  M   NA  NA     NA
10     36903 Maurice Eugne Fraysse                      M   20  NA     NA
11     37926 Ren Paul Virgile Gaillard                  M   22  NA     NA
12     38830 Georges Garnier                            M   NA  NA     NA
13     41949 William Sullivan Gosling                   M   30  NA     NA
14     42370 Ren Grandjean                              M   NA  NA     NA
15     46449 Henry North Haslam                         M   NA  NA     NA
16     51292 Lucien Paul Nol Huteau                     M   21  NA     NA
17     55677 James Henry Jones                          M   NA  NA     NA
18     58471 Raul Kelecom                               M   NA  NA     NA
19     66151 Marcel Lambert                             M   NA  NA     NA
20     67659 Marcel Leboutte                            M   NA  NA     NA
21     71187 Lucien Jean Londot                         M   NA  NA     NA
22     72827 Maurice Macaire                            M   18  NA     NA
23     81896 Ernest Marie Eugne Adolphe Moreau de Melen M   NA  NA     NA
24     85040 Edmond Neefs                               M   NA  NA     NA
25     85802 John Nicholas                              M   20  NA     NA
26     92824 Georges Pelgrims                           M   NA  NA     NA
27     92908 Gaston Peltier                             M   NA  NA     NA
28     97829 William Francis Patterson "Bill" Quash     M   31  NA     NA
29     99984 Alphonse Renier                            M   NA  NA     NA
30    113625 Frederick George "Fred" Spackman           M   NA  NA     NA
⋮     ⋮      ⋮                                          ⋮   ⋮   ⋮      ⋮
10517 130489 Rhian Emilie Wilkinson                     F   34  166     66
10518 130541 William de Asevedo Furtado                 M   21  176     65
10519 130634 Lydia Grace Yilkari Williams               F   28  175     65
10520 131786 Wu Haiyan                                  F   23  166     58
10521 132132 Simon Yacoub                               M   27  166     60
10522 132187 Shinya Yajima                              M   22  171     67
10523 132239 Kirsty Lee Yallop                          F   29  165     60
10524 132243 Kanae Yamabe                               F   25  172    108
10525 132414 Yan Naing Soe                              M   37  180     98
10526 132519 Yang Junxia                                F   27  169     63
10527 132522 Yang Li                                    F   25  167     58
10528 132653 Svitlana Mykolavna Yaromka                 F   27  162     78
10529 132662 Denis Nikolayevich Yartsev                 M   25  176     73
10530 132746 Kunathip Yea-On                            M   20  193    148
10531 133368 Yu Song                                    F   29  182    128
10532 133600 Irina Aleksandrovna Zabludina              F   29  160     57
10533 133648 Shelina Laura Zadorsky                     F   23  172     67
10534 133858 Vanessa Martina Zambotti Barreto           F   34  175    125
10535 133973 Heorhiy Malkhazovych Zantaraia             M   28  171     66
10536 134211 Jos Carlos Cracco Neto                     M   22  170     69
10537 134329 Morad Zemouri                              M   23  173     73
10538 134404 Mihael gank                                M   22  181     90
10539 134540 Zhang Rui                                  F   27  172     62
10540 134622 Zhang Zhehui                               F   28  177     76
10541 134654 Zhao Lina                                  F   24  188     67
10542 134658 Zhao Rong                                  F   25  171     59
10543 134788 Zhou Chao                                  F   29  170     70
10544 135275 Rizlen Al-Zouak                            F   30  164     63
10545 135287 Houd Zourdani                              M   22  165     66
10546 135453 Kelita Zupancic                            F   26  169     70
      Team              NOC Games       Year Season City           Sport
1     USFSA             FRA 1900 Summer 1900 Summer Paris          Football
2     USFSA             FRA 1900 Summer 1900 Summer Paris          Football
3     USFSA             FRA 1900 Summer 1900 Summer Paris          Football
4     Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
5     Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
6     USFSA             FRA 1900 Summer 1900 Summer Paris          Football
7     Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
8     Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
9     USFSA             FRA 1900 Summer 1900 Summer Paris          Football
10    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
11    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
12    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
13    Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
14    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
15    Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
16    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
17    Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
18    Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
19    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
20    Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
21    Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
22    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
23    Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
24    Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
25    Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
26    Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
27    USFSA             FRA 1900 Summer 1900 Summer Paris          Football
28    Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
29    Univ. of Brussels BEL 1900 Summer 1900 Summer Paris          Football
30    Upton Park FC     GBR 1900 Summer 1900 Summer Paris          Football
⋮     ⋮                 ⋮   ⋮           ⋮    ⋮      ⋮              ⋮
10517 Canada            CAN 2016 Summer 2016 Summer Rio de Janeiro Football
10518 Brazil            BRA 2016 Summer 2016 Summer Rio de Janeiro Football
10519 Australia         AUS 2016 Summer 2016 Summer Rio de Janeiro Football
10520 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Football
10521 Palestine         PLE 2016 Summer 2016 Summer Rio de Janeiro Judo
10522 Japan             JPN 2016 Summer 2016 Summer Rio de Janeiro Football
10523 New Zealand       NZL 2016 Summer 2016 Summer Rio de Janeiro Football
10524 Japan             JPN 2016 Summer 2016 Summer Rio de Janeiro Judo
10525 Myanmar           MYA 2016 Summer 2016 Summer Rio de Janeiro Judo
10526 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Judo
10527 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Football
10528 Ukraine           UKR 2016 Summer 2016 Summer Rio de Janeiro Judo
10529 Russia            RUS 2016 Summer 2016 Summer Rio de Janeiro Judo
10530 Thailand          THA 2016 Summer 2016 Summer Rio de Janeiro Judo
10531 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Judo
10532 Russia            RUS 2016 Summer 2016 Summer Rio de Janeiro Judo
10533 Canada            CAN 2016 Summer 2016 Summer Rio de Janeiro Football
10534 Mexico            MEX 2016 Summer 2016 Summer Rio de Janeiro Judo
10535 Ukraine           UKR 2016 Summer 2016 Summer Rio de Janeiro Judo
10536 Brazil            BRA 2016 Summer 2016 Summer Rio de Janeiro Football
10537 Qatar             QAT 2016 Summer 2016 Summer Rio de Janeiro Judo
10538 Slovenia          SLO 2016 Summer 2016 Summer Rio de Janeiro Judo
10539 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Football
10540 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Judo
10541 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Football
10542 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Football
10543 China             CHN 2016 Summer 2016 Summer Rio de Janeiro Judo
10544 Morocco           MAR 2016 Summer 2016 Summer Rio de Janeiro Judo
10545 Algeria           ALG 2016 Summer 2016 Summer Rio de Janeiro Judo
10546 Canada            CAN 2016 Summer 2016 Summer Rio de Janeiro Judo
      Event                          Medal
1     Football Men's Football        Silver
2     Football Men's Football        Silver
3     Football Men's Football        Silver
4     Football Men's Football        Gold
5     Football Men's Football        Gold
6     Football Men's Football        Silver
7     Football Men's Football        Gold
8     Football Men's Football        Bronze
9     Football Men's Football        Silver
10    Football Men's Football        Silver
11    Football Men's Football        Silver
12    Football Men's Football        Silver
13    Football Men's Football        Gold
14    Football Men's Football        Silver
15    Football Men's Football        Gold
16    Football Men's Football        Silver
17    Football Men's Football        Gold
18    Football Men's Football        Bronze
19    Football Men's Football        Silver
20    Football Men's Football        Bronze
21    Football Men's Football        Bronze
22    Football Men's Football        Silver
23    Football Men's Football        Bronze
24    Football Men's Football        Bronze
25    Football Men's Football        Gold
26    Football Men's Football        Bronze
27    Football Men's Football        Silver
28    Football Men's Football        Gold
29    Football Men's Football        Bronze
30    Football Men's Football        Gold
⋮     ⋮                              ⋮
10517 Football Women's Football      Bronze
10518 Football Men's Football        Gold
10519 Football Women's Football      NA
10520 Football Women's Football      NA
10521 Judo Men's Extra-Lightweight   NA
10522 Football Men's Football        NA
10523 Football Women's Football      NA
10524 Judo Women's Heavyweight       Bronze
10525 Judo Men's Half-Heavyweight    NA
10526 Judo Women's Half-Middleweight NA
10527 Football Women's Football      NA
10528 Judo Women's Heavyweight       NA
10529 Judo Men's Lightweight         NA
10530 Judo Men's Heavyweight         NA
10531 Judo Women's Heavyweight       Bronze
10532 Judo Women's Lightweight       NA
10533 Football Women's Football      Bronze
10534 Judo Women's Heavyweight       NA
10535 Judo Men's Half-Lightweight    NA
10536 Football Men's Football        Gold
10537 Judo Men's Lightweight         NA
10538 Judo Men's Middleweight        NA
10539 Football Women's Football      NA
10540 Judo Women's Half-Heavyweight  NA
10541 Football Women's Football      NA
10542 Football Women's Football      NA
10543 Judo Women's Middleweight      NA
10544 Judo Women's Half-Middleweight NA
10545 Judo Men's Half-Lightweight    NA
10546 Judo Women's Middleweight      NA

#### Exercice

<div class="alert alert-success">
 <b>EXERCISE</b>:
 <ul>
        <li>Has the number of athletes, nations, and events changed over time?</li>
        <li>Number of men and women over time ?</li>
        <li>Number of women relative to men across countries ?</li>
        <li>Proportion of women on Olympic teams: 1936 ?</li>
        <li>Medal counts for women of different nations: 1936 ?</li>
        <li>Proportion of women on Olympic teams: 1976 ?</li>
        <li>Medal counts for women of different nations: 1976 ?</li>
        <li>Athlete height over time ?</li>
        <li>Athlete weight over time ?</li>

</ul> 

</div>

In [52]:
# count number of athletes, nations, & events, excluding the Art Competitions
counts <- dataset  %>%
  group_by( Year) %>%
  summarise(
    Athletes = length(unique(ID)),
    Nations = length(unique(NOC)),
    Events = length(unique(Event))
  )

`summarise()` ungrouping output (override with `.groups` argument)

In [53]:
counts

   Year Athletes Nations Events
1  1896   176     12      43
2  1900  1224     31      90
3  1904   650     15      95
4  1906   841     21      74
5  1908  2024     22     109
6  1912  2409     29     107
7  1920  2676     29     158
8  1924  3565     46     148
9  1928  3703     46     136
10 1932  2174     47     145
11 1936  5142     50     167
12 1948  5068     61     175
13 1952  5622     69     171
14 1956  4167     75     175
15 1960  6017     84     177
16 1964  6230     94     197
17 1968  6717    112     207
18 1972  8122    121     228
19 1976  7200     93     235
20 1980  6330     90     241
21 1984  8067    148     260
22 1988  9873    160     283
23 1992 11183    170     314
24 1994  1738     67      61
25 1996 10339    197     271
26 1998  2179     72      68
27 2000 10647    200     300
28 2002  2399     77      78
29 2004 10557    201     301
30 2006  2494     79      84
31 2008 10899    204     302
32 2010  2536     82      86
33 2012 10517    205     302
34 2014  2745     89      98
35 2016 11179    207     306

In [68]:
dataset  %>%
  group_by( Year,Sex) %>%
  summarise( Athletes = length(unique(ID))
  )
  head()

`summarise()` regrouping output by 'Year' (override with `.groups` argument)

   Year Sex Athletes
1  1896 M    176
2  1900 F     23
3  1900 M   1201
4  1904 F      6
5  1904 M    644
6  1906 F      6
7  1906 M    835
8  1908 F     44
9  1908 M   1980
10 1912 F     53
11 1912 M   2356
12 1920 F     78
13 1920 M   2598
14 1924 F    169
15 1924 M   3396
16 1928 F    340
17 1928 M   3363
18 1932 F    222
19 1932 M   1952
20 1936 F    441
21 1936 M   4701
22 1948 F    523
23 1948 M   4545
24 1952 F    629
25 1952 M   4993
26 1956 F    516
27 1956 M   3651
28 1960 F    757
29 1960 M   5260
30 1964 F    880
⋮  ⋮    ⋮   ⋮
40 1984 F   1846
41 1984 M   6221
42 1988 F   2514
43 1988 M   7359
44 1992 F   3210
45 1992 M   7973
46 1994 F    522
47 1994 M   1216
48 1996 F   3517
49 1996 M   6822
50 1998 F    789
51 1998 M   1390
52 2000 F   4068
53 2000 M   6579
54 2002 F    886
55 2002 M   1513
56 2004 F   4300
57 2004 M   6257
58 2006 F    955
59 2006 M   1539
60 2008 F   4609
61 2008 M   6290
62 2010 F   1033
63 2010 M   1503
64 2012 F   4654
65 2012 M   5863
66 2014 F   1102
67 2014 M   1643
68 2016 F   5034
69 2016 M   6145

ERROR: ignored

In [69]:
dataset  %>%
  group_by( NOC,Sex) %>%
  summarise( Athletes = length(unique(ID))
  )
  head()

`summarise()` regrouping output by 'NOC' (override with `.groups` argument)

    NOC Sex Athletes
1   AFG F      4
2   AFG M     99
3   AHO F     10
4   AHO M     45
5   ALB F     16
6   ALB M     29
7   ALG F     55
8   ALG M    318
9   AND F     18
10  AND M     43
11  ANG F     75
12  ANG M     88
13  ANT F     18
14  ANT M     52
15  ANZ F      2
16  ANZ M     51
17  ARG F    313
18  ARG M   1535
19  ARM F     28
20  ARM M    118
21  ARU F     11
22  ARU M     21
23  ASA F      5
24  ASA M     24
25  AUS F   1281
26  AUS M   2539
27  AUT F    503
28  AUT M   1834
29  AZE F     48
30  AZE M    145
⋮   ⋮   ⋮   ⋮
423 UNK M      2
424 URS F    714
425 URS M   2234
426 URU F     28
427 URU M    338
428 USA F   2613
429 USA M   7040
430 UZB F     79
431 UZB M    216
432 VAN F      8
433 VAN M     17
434 VEN F    118
435 VEN M    431
436 VIE F     48
437 VIE M     56
438 VIN F      8
439 VIN M     20
440 VNM F      2
441 VNM M     37
442 WIF M     13
443 YAR M     10
444 YEM F      4
445 YEM M     24
446 YMD M      5
447 YUG F    169
448 YUG M   1101
449 ZAM F     13
450 ZAM M    132
451 ZIM F     72
452 ZIM M    124

ERROR: ignored

In [84]:
 dataset %>% filter(Year %in% c(1936 )) %>%
  group_by( Year,NOC,Sex) %>%
  summarise( Athletes = length(unique(ID))
  )

`summarise()` regrouping output by 'Year', 'NOC' (override with `.groups` argument)

   Year NOC Sex Athletes
1  1936 AFG M    15
2  1936 ARG F     1
3  1936 ARG M    50
4  1936 AUS F     4
5  1936 AUS M    29
6  1936 AUT F    27
7  1936 AUT M   265
8  1936 BEL F     8
9  1936 BEL M   168
10 1936 BER M     5
11 1936 BOL M     2
12 1936 BRA F     6
13 1936 BRA M    67
14 1936 BUL M    33
15 1936 CAN F    25
16 1936 CAN M   101
17 1936 CHI F     1
18 1936 CHI M    39
19 1936 CHN F     2
20 1936 CHN M    52
21 1936 COL M     5
22 1936 CRC M     1
23 1936 DEN F    16
24 1936 DEN M   105
25 1936 EGY M    53
26 1936 ESP F     2
27 1936 ESP M     4
28 1936 EST F     2
29 1936 EST M    36
30 1936 FIN F     5
⋮  ⋮    ⋮   ⋮   ⋮
53 1936 MEX M    32
54 1936 MLT M    11
55 1936 MON M     8
56 1936 NED F    22
57 1936 NED M   151
58 1936 NOR F     8
59 1936 NOR M    92
60 1936 NZL M     7
61 1936 PER M    40
62 1936 PHI M    28
63 1936 POL F    17
64 1936 POL M   147
65 1936 POR M    19
66 1936 ROU F     3
67 1936 ROU M    65
68 1936 RSA F     5
69 1936 RSA M    27
70 1936 SUI F    10
71 1936 SUI M   214
72 1936 SWE F     9
73 1936 SWE M   193
74 1936 TCH F    19
75 1936 TCH M   215
76 1936 TUR F     2
77 1936 TUR M    52
78 1936 URU M    37
79 1936 USA F    55
80 1936 USA M   359
81 1936 YUG F    15
82 1936 YUG M    95