<a href="https://colab.research.google.com/github/MalikYOUSSOUF/4dvop-app/blob/master/19122019_Analyse_Statistique_JO_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analyse statistique sur les Jeux Olympiques avec R

![image.png](attachment:image.png)

#### Téléchargement des données
https://docs.google.com/document/d/1HgPH1u0r7Pze5HrErzVXbxFcA_9wUpknUCMtgbPh8BM/edit?usp=sharing

Plan:

1. Rappel sur Dplyr
2. Exemple de manipulation de donnée
3. Questions

#### Rappel sur R:

* https://suzan.rbind.io/2018/02/dplyr-tutorial-3/#filtering-rows-based-on-a-numeric-variable
* https://ggplot2.tidyverse.org/
* https://thinkr.fr/utiliser-la-grammaire-dplyr-pour-triturer-ses-donnees/

#### II- Exemple de manipulation de données

##### Manipulation de données avec dplyr

Il ya 5 fonctions à connaitre dans le package dplyr.
* **select** : Selection de colonnes
* **filter** : Filtre sur les données
* **mutate** : Création d'une nouvel colonne
* **arrange** : Trie des données
* **summarise** : Aggrege les données en un résumé

In [58]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [8]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [35]:
# Définition du nom de fichier
filename <- "athlete_events.csv" 
# Chargement du fichier
dataset <- read.csv(filename, header=TRUE, encoding = "UTF-8") 

# Affichage des 5 premières lignes
head(dataset)

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
“EOF within quoted string”

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

In [36]:
#### Filtre sur le pays France
library("dplyr")
dataset %>% filter(Team == "France")

     ID    Name                               Sex Age Height Weight Team   NOC
1     34   Jamale (Djamel-) Aarrass (Ahrass-) M   30  187     76    France FRA
2     52   Patrick Abada                      M   22  189     80    France FRA
3     56   Ren Abadie                         M   21   NA     NA    France FRA
4     56   Ren Abadie                         M   21   NA     NA    France FRA
5     73   Luc Abalo                          M   23  182     86    France FRA
6     73   Luc Abalo                          M   27  182     86    France FRA
7     73   Luc Abalo                          M   31  182     86    France FRA
8     93   Jol Marc Abati                     M   34  190     85    France FRA
9     93   Jol Marc Abati                     M   38  190     85    France FRA
10   167   Ould Lamine Abdallah               M   NA   NA     NA    France FRA
11   237   Ben Ahmed Abdelkrim                M   20   NA     NA    France FRA
12   434   David Abibssira                    M   21  179     63    France FRA
13   444   Camille Anne Franoise Abily        F   27  168     60    France FRA
14   444   Camille Anne Franoise Abily        F   31  168     60    France FRA
15   515   Stphan Abrahamian Gonzalez         M   22   NA     NA    France FRA
16   558   David Abrard                       M   19  187     81    France FRA
17   573   Franck Abrial                      M   24  174     68    France FRA
18   583   Julien Absalon                     M   23  180     68    France FRA
19   583   Julien Absalon                     M   27  180     68    France FRA
20   583   Julien Absalon                     M   31  180     68    France FRA
21   583   Julien Absalon                     M   35  180     68    France FRA
22   626   Alain Acart                        M   21  175     67    France FRA
23   626   Alain Acart                        M   25  175     67    France FRA
24   628   Jacques Accambray                  M   22  194    125    France FRA
25   628   Jacques Accambray                  M   26  194    125    France FRA
26   629   William Accambray                  M   24  194    104    France FRA
27   676   Gaston Achille                     M   NA   NA     NA    France FRA
28   677   Georges Achille-Fould              F   55   NA     NA    France FRA
29   757   Adam                               M   NA   NA     NA    France FRA
30   758   Adam                               M   NA   NA     NA    France FRA
⋮    ⋮     ⋮                                  ⋮   ⋮   ⋮      ⋮      ⋮      ⋮
9154 93088 Carole Pon                         F   29  162    52     France FRA
9155 93088 Carole Pon                         F   33  162    52     France FRA
9156 93107 Thierry Pponnet                    M   24  166    57     France FRA
9157 93107 Thierry Pponnet                    M   29  166    57     France FRA
9158 93115 Laure Pequegnot                    F   22  168    63     France FRA
9159 93115 Laure Pequegnot                    F   26  168    63     France FRA
9160 93115 Laure Pequegnot                    F   26  168    63     France FRA
9161 93115 Laure Pequegnot                    F   30  168    63     France FRA
9162 93117 Patrick Henri Pera                 M   19  176    70     France FRA
9163 93117 Patrick Henri Pera                 M   23  176    70     France FRA
9164 93121 Alexandre "Alex" Perahia           M   26  188    86     France FRA
9165 93146 Jean-Christophe Praud              M   27  172    62     France FRA
9166 93146 Jean-Christophe Praud              M   31  172    62     France FRA
9167 93146 Jean-Christophe Praud              M   35  172    62     France FRA
9168 93157 Louis Percy                        M   39  170    NA     France FRA
9169 93157 Louis Percy                        M   39  170    NA     France FRA
9170 93157 Louis Percy                        M   39  170    NA     France FRA
9171 93157 Louis Percy                        M   39  170    NA     France FRA
9172 93157 Louis Percy                        M   39  170    NA     France FRA
9173 93169 Marie-Jos Juliana Prec (Hontas-)   F   20  180    60     France FRA
9174 93169 Marie-Jos Juliana Prec (Hontas-)   F   24  180    60     France FRA
9175 93169 Marie-Jos Juliana Prec (Hontas-)   F   24  180    60     France FRA
9176 93169 Marie-Jos Juliana Prec (Hontas-)   F   28  180    60     France FRA
9177 93169 Marie-Jos Juliana Prec (Hontas-)   F   28  180    60     France FRA
9178 93169 Marie-Jos Juliana Prec (Hontas-)   F   28  180    60     France FRA
9179 93244 Delphyne Peretto                   F   24  170    56     France FRA
9180 93244 Delphyne Peretto                   F   24  170    56     France FRA
9181 93244 Delphyne Peretto                   F   24  170    56     France FRA
9182 93244 Delphyne Peretto                   F   24  170    56     France FRA
9183 93244 Delphyne Peretto                   F   24  170    56     France FRA
     Games       Year Season City           Sport
1    2012 Summer 2012 Summer London         Athletics
2    1976 Summer 1976 Summer Montreal       Athletics
3    1956 Summer 1956 Summer Melbourne      Cycling
4    1956 Summer 1956 Summer Melbourne      Cycling
5    2008 Summer 2008 Summer Beijing        Handball
6    2012 Summer 2012 Summer London         Handball
7    2016 Summer 2016 Summer Rio de Janeiro Handball
8    2004 Summer 2004 Summer Athina         Handball
9    2008 Summer 2008 Summer Beijing        Handball
10   1952 Summer 1952 Summer Helsinki       Athletics
11   1952 Summer 1952 Summer Helsinki       Athletics
12   1984 Summer 1984 Summer Los Angeles    Shooting
13   2012 Summer 2012 Summer London         Football
14   2016 Summer 2016 Summer Rio de Janeiro Football
15   1968 Summer 1968 Summer Mexico City    Cycling
16   1996 Summer 1996 Summer Atlanta        Swimming
17   1988 Summer 1988 Summer Seoul          Wrestling
18   2004 Summer 2004 Summer Athina         Cycling
19   2008 Summer 2008 Summer Beijing        Cycling
20   2012 Summer 2012 Summer London         Cycling
21   2016 Summer 2016 Summer Rio de Janeiro Cycling
22   1972 Summer 1972 Summer Munich         Canoeing
23   1976 Summer 1976 Summer Montreal       Canoeing
24   1972 Summer 1972 Summer Munich         Athletics
25   1976 Summer 1976 Summer Montreal       Athletics
26   2012 Summer 2012 Summer London         Handball
27   1900 Summer 1900 Summer Paris          Fencing
28   1924 Summer 1924 Summer Paris          Art Competitions
29   1900 Summer 1900 Summer Paris          Fencing
30   1900 Summer 1900 Summer Paris          Swimming
⋮    ⋮           ⋮    ⋮      ⋮              ⋮
9154 2008 Summer 2008 Summer Beijing        Triathlon
9155 2012 Summer 2012 Summer London         Triathlon
9156 1984 Summer 1984 Summer Los Angeles    Sailing
9157 1988 Summer 1988 Summer Seoul          Sailing
9158 1998 Winter 1998 Winter Nagano         Alpine Skiing
9159 2002 Winter 2002 Winter Salt Lake City Alpine Skiing
9160 2002 Winter 2002 Winter Salt Lake City Alpine Skiing
9161 2006 Winter 2006 Winter Torino         Alpine Skiing
9162 1968 Winter 1968 Winter Grenoble       Figure Skating
9163 1972 Winter 1972 Winter Sapporo        Figure Skating
9164 1988 Summer 1988 Summer Seoul          Rowing
9165 2004 Summer 2004 Summer Athina         Cycling
9166 2008 Summer 2008 Summer Beijing        Cycling
9167 2012 Summer 2012 Summer London         Cycling
9168 1912 Summer 1912 Summer Stockholm      Shooting
9169 1912 Summer 1912 Summer Stockholm      Shooting
9170 1912 Summer 1912 Summer Stockholm      Shooting
9171 1912 Summer 1912 Summer Stockholm      Shooting
9172 1912 Summer 1912 Summer Stockholm      Shooting
9173 1988 Summer 1988 Summer Seoul          Athletics
9174 1992 Summer 1992 Summer Barcelona      Athletics
9175 1992 Summer 1992 Summer Barcelona      Athletics
9176 1996 Summer 1996 Summer Atlanta        Athletics
9177 1996 Summer 1996 Summer Atlanta        Athletics
9178 1996 Summer 1996 Summer Atlanta        Athletics
9179 2006 Winter 2006 Winter Torino         Biathlon
9180 2006 Winter 2006 Winter Torino         Biathlon
9181 2006 Winter 2006 Winter Torino         Biathlon
9182 2006 Winter 2006 Winter Torino         Biathlon
9183 2006 Winter 2006 Winter Torino         Biathlon
     Event                                                             Medal
1    Athletics Men's 1,500 metres                                      NA
2    Athletics Men's Pole Vault                                        NA
3    Cycling Men's Road Race, Individual                               NA
4    Cycling Men's Road Race, Team                                     Gold
5    Handball Men's Handball                                           Gold
6    Handball Men's Handball                                           Gold
7    Handball Men's Handball                                           Silver
8    Handball Men's Handball                                           NA
9    Handball Men's Handball                                           Gold
10   Athletics Men's 10,000 metres                                     NA
11   Athletics Men's 5,000 metres                                      NA
12   Shooting Men's Running Target, 50 metres                          NA
13   Football Women's Football                                         NA
14   Football Women's Football                                         NA
15   Cycling Men's Road Race, Individual                               NA
16   Swimming Men's 200 metres Butterfly                               NA
17   Wrestling Men's Lightweight, Greco-Roman                          NA
18   Cycling Men's Mountainbike, Cross-Country                         Gold
19   Cycling Men's Mountainbike, Cross-Country                         Gold
20   Cycling Men's Mountainbike, Cross-Country                         NA
21   Cycling Men's Mountainbike, Cross-Country                         NA
22   Canoeing Men's Canadian Doubles, 1,000 metres                     NA
23   Canoeing Men's Canadian Doubles, 1,000 metres                     NA
24   Athletics Men's Hammer Throw                                      NA
25   Athletics Men's Hammer Throw                                      NA
26   Handball Men's Handball                                           Gold
27   Fencing Men's epee, Individual                                    NA
28   Art Competitions Mixed Painting                                   NA
29   Fencing Men's epee, Individual                                    NA
30   Swimming Men's 200 metres Freestyle                               NA
⋮    ⋮                                                                 ⋮
9154 Triathlon Women's Olympic Distance                                NA
9155 Triathlon Women's Olympic Distance                                NA
9156 Sailing Mixed Two Person Dinghy                                   Bronze
9157 Sailing Men's Two Person Dinghy                                   Gold
9158 Alpine Skiing Women's Slalom                                      NA
9159 Alpine Skiing Women's Giant Slalom                                NA
9160 Alpine Skiing Women's Slalom                                      Silver
9161 Alpine Skiing Women's Slalom                                      NA
9162 Figure Skating Men's Singles                                      Bronze
9163 Figure Skating Men's Singles                                      Bronze
9164 Rowing Men's Coxless Pairs                                        NA
9165 Cycling Men's Mountainbike, Cross-Country                         NA
9166 Cycling Men's Mountainbike, Cross-Country                         Silver
9167 Cycling Men's Mountainbike, Cross-Country                         NA
9168 Shooting Men's Free Rifle, Three Positions, 300 metres            NA
9169 Shooting Men's Free Rifle, Three Positions, 300 metres, Team      NA
9170 Shooting Men's Military Rifle, Three Positions, 300 metres        NA
9171 Shooting Men's Military Rifle, Any Position, 600 metres           NA
9172 Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team NA
9173 Athletics Women's 200 metres                                      NA
9174 Athletics Women's 400 metres                                      Gold
9175 Athletics Women's 4 x 100 metres Relay                            NA
9176 Athletics Women's 200 metres                                      Gold
9177 Athletics Women's 400 metres                                      Gold
9178 Athletics Women's 4 x 100 metres Relay                            NA
9179 Biathlon Women's 7.5 kilometres Sprint                            NA
9180 Biathlon Women's 10 kilometres Pursuit                            NA
9181 Biathlon Women's 12.5 kilometres Mass Start                       NA
9182 Biathlon Women's 15 kilometres                                    NA
9183 Biathlon Women's 4 x 6 kilometres Relay                           Bronze

In [37]:
### Dimension des données

dim(dataset)

[1] 185478     15

In [38]:
#### Type de données pour chaque variable

sapply(dataset, class)

         ID        Name         Sex         Age      Height      Weight
  "integer" "character" "character"   "integer"   "integer"   "numeric"
       Team         NOC       Games        Year      Season        City
"character" "character" "character"   "integer" "character" "character"
      Sport       Event       Medal
"character" "character" "character"

In [39]:
#### Summury des données

summary(dataset)

       ID            Name               Sex                 Age
 Min.   :    1   Length:185478      Length:185478      Min.   :10.00
 1st Qu.:23921   Class :character   Class :character   1st Qu.:21.00
 Median :46989   Mode  :character   Mode  :character   Median :24.00
 Mean   :46901                                         Mean   :25.56
 3rd Qu.:69880                                         3rd Qu.:28.00
 Max.   :93247                                         Max.   :96.00
                                                       NA's   :6477
     Height          Weight           Team               NOC
 Min.   :127.0   Min.   : 25.00   Length:185478      Length:185478
 1st Qu.:168.0   1st Qu.: 60.00   Class :character   Class :character
 Median :175.0   Median : 70.00   Mode  :character   Mode  :character
 Mean   :175.3   Mean   : 70.71
 3rd Qu.:183.0   3rd Qu.: 79.00
 Max.   :223.0   Max.   :214.00
 NA's   :41398   NA's   :43410
    Games                Year         Season              City
 Length:185478      Min.   :1896   Length:185478      Length:185478
 Class :character   1st Qu.:1960   Class :character   Class :character
 Mode  :character   Median :1988   Mode  :character   Mode  :character
                    Mean   :1978
                    3rd Qu.:2002
                    Max.   :2016

    Sport              Event              Medal
 Length:185478      Length:185478      Length:185478
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character

In [40]:
#### Chargement dplyr

library("dplyr")

In [41]:
#### Sélection des colonnes Team, Games et City
head(select(dataset, Team, Games, City ),5)

  Team           Games       City
1 China          1992 Summer Barcelona
2 China          2012 Summer London
3 Denmark        1920 Summer Antwerpen
4 Denmark/Sweden 1900 Summer Paris
5 Netherlands    1988 Winter Calgary

In [42]:
#### Autrement, on peut écrire cette fonction avec le pipe
#### Equivalent du point en python
select(dataset, Team, Games, City ) %>% head()

  Team           Games       City
1 China          1992 Summer Barcelona
2 China          2012 Summer London
3 Denmark        1920 Summer Antwerpen
4 Denmark/Sweden 1900 Summer Paris
5 Netherlands    1988 Winter Calgary
6 Netherlands    1988 Winter Calgary

In [43]:
#### Ou encore(méthode que je recommande)

dataset %>% select(Team, Games) %>% head()

  Team           Games
1 China          1992 Summer
2 China          2012 Summer
3 Denmark        1920 Summer
4 Denmark/Sweden 1900 Summer
5 Netherlands    1988 Winter
6 Netherlands    1988 Winter

#### Filter

In [44]:
#### Filtre sur l'année 1980

head(filter(dataset,  Year== "1980"),5)

  ID  Name                                     Sex Age Height Weight
1  11 Jorma Ilmari Aalto                       M   22  182     76.5
2  85 Alejandro Abascal Garca                  M   28  181     82.0
3  86 Jos Manuel Abascal Gmez                  M   22  182     67.0
4  88 Nunu Dzhansuhivna Abashydze (-Myslaieva) F   25  168    105.0
5 108 Giuseppe Abbagnale                       M   20  187     97.0
  Team         NOC Games       Year Season City        Sport
1 Finland      FIN 1980 Winter 1980 Winter Lake Placid Cross Country Skiing
2 Spain        ESP 1980 Summer 1980 Summer Moskva      Sailing
3 Spain        ESP 1980 Summer 1980 Summer Moskva      Athletics
4 Soviet Union URS 1980 Summer 1980 Summer Moskva      Athletics
5 Italy        ITA 1980 Summer 1980 Summer Moskva      Rowing
  Event                                       Medal
1 Cross Country Skiing Men's 30 kilometres    NA
2 Sailing Mixed Two Person Heavyweight Dinghy Gold
3 Athletics Men's 1,500 metres                NA
4 Athletics Women's Shot Put                  NA
5 Rowing Men's Coxed Pairs                    NA

Attention à bien mettre le == au lieu dusigne =

In [45]:
#### Autrement

dataset %>% filter(Year== "1980") %>% head()

  ID  Name                                      Sex Age Height Weight
1  11 Jorma Ilmari Aalto                        M   22  182     76.5
2  85 Alejandro Abascal Garca                   M   28  181     82.0
3  86 Jos Manuel Abascal Gmez                   M   22  182     67.0
4  88 Nunu Dzhansuhivna Abashydze (-Myslaieva)  F   25  168    105.0
5 108 Giuseppe Abbagnale                        M   20  187     97.0
6 109 Abdul Latif Al-Sayed Abbas Youssef Hashem M   27  176     64.0
  Team         NOC Games       Year Season City        Sport
1 Finland      FIN 1980 Winter 1980 Winter Lake Placid Cross Country Skiing
2 Spain        ESP 1980 Summer 1980 Summer Moskva      Sailing
3 Spain        ESP 1980 Summer 1980 Summer Moskva      Athletics
4 Soviet Union URS 1980 Summer 1980 Summer Moskva      Athletics
5 Italy        ITA 1980 Summer 1980 Summer Moskva      Rowing
6 Kuwait       KUW 1980 Summer 1980 Summer Moskva      Athletics
  Event                                       Medal
1 Cross Country Skiing Men's 30 kilometres    NA
2 Sailing Mixed Two Person Heavyweight Dinghy Gold
3 Athletics Men's 1,500 metres                NA
4 Athletics Women's Shot Put                  NA
5 Rowing Men's Coxed Pairs                    NA
6 Athletics Men's 400 metres Hurdles          NA

#### Arrange

In [46]:
#### Trie des données par naissance et année par ordre croissant

head(arrange(dataset), 10)

   ID Name                     Sex Age Height Weight Team           NOC
1  1  A Dijiang                M   24  180    80     China          CHN
2  2  A Lamusi                 M   23  170    60     China          CHN
3  3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4  4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5  5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6  5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
7  5  Christine Jacoba Aaftink F   25  185    82     Netherlands    NED
8  5  Christine Jacoba Aaftink F   25  185    82     Netherlands    NED
9  5  Christine Jacoba Aaftink F   27  185    82     Netherlands    NED
10 5  Christine Jacoba Aaftink F   27  185    82     Netherlands    NED
   Games       Year Season City        Sport
1  1992 Summer 1992 Summer Barcelona   Basketball
2  2012 Summer 2012 Summer London      Judo
3  1920 Summer 1920 Summer Antwerpen   Football
4  1900 Summer 1900 Summer Paris       Tug-Of-War
5  1988 Winter 1988 Winter Calgary     Speed Skating
6  1988 Winter 1988 Winter Calgary     Speed Skating
7  1992 Winter 1992 Winter Albertville Speed Skating
8  1992 Winter 1992 Winter Albertville Speed Skating
9  1994 Winter 1994 Winter Lillehammer Speed Skating
10 1994 Winter 1994 Winter Lillehammer Speed Skating
   Event                              Medal
1  Basketball Men's Basketball        NA
2  Judo Men's Extra-Lightweight       NA
3  Football Men's Football            NA
4  Tug-Of-War Men's Tug-Of-War        Gold
5  Speed Skating Women's 500 metres   NA
6  Speed Skating Women's 1,000 metres NA
7  Speed Skating Women's 500 metres   NA
8  Speed Skating Women's 1,000 metres NA
9  Speed Skating Women's 500 metres   NA
10 Speed Skating Women's 1,000 metres NA

In [47]:
#### Trie des données par ordre décroissant

head(arrange(dataset, desc(Year), desc(Sport)), 20)

   ID   Name                                   Sex Age Height Weight Team
1   250 Saeid Morad Abdevali                   M   26  170     80    Iran
2   338 Muminzhon Abdullayev                   M   26  190    130    Uzbekistan
3   354 Bekzod Makhamadzhonovich Abdurakhmonov M   26  172     74    Uzbekistan
4   721 Mara Jos Acosta Acosta                 F   24  172     69    Venezuela
5   864 Yasemin Adar                           F   24  180     75    Turkey
6   902 Odunayo Folasade Adekuoroye            F   22  169     53    Nigeria
7   924 Aminat Oluwafunmilayo Adeniyi          F   23  165     58    Nigeria
8  1525 Zied Ait Ouagram                       M   27  191     75    Morocco
9  1634 Taha Akgl                              M   25  192    125    Turkey
10 1645 Habibollah Jomeh Akhlaghi              M   31  175     90    Iran
11 2359 Islam-Beka Said-Tsilimovich Albiyev    M   27  165     66    Russia
12 2474 Daniel Tihomirov Aleksandrov           M   24  182     81    Bulgaria
13 2497 Artur Aleksanyan                       M   24  190     98    Armenia
14 2605 Alin Alexuc-Ciurariu                   M   26  191    105    Romania
15 2685 Annabel Laure Ali                      F   31  176     75    Cameroon
16 3440 Sandro Aminashvili                     M   24  180     85    Georgia
17 3537 Marwa Al-Amri                          F   27  160     58    Tunisia
18 4211 Valeriy Oleksandrovych Andriitsev      M   29  181     97    Ukraine
19 4454 Chakir Ansari                          M   25  168     57    Morocco
20 4501 Lissette Alexandra Antes Castillo      F   25  177     58    Ecuador
   NOC Games       Year Season City           Sport
1  IRI 2016 Summer 2016 Summer Rio de Janeiro Wrestling
2  UZB 2016 Summer 2016 Summer Rio de Janeiro Wrestling
3  UZB 2016 Summer 2016 Summer Rio de Janeiro Wrestling
4  VEN 2016 Summer 2016 Summer Rio de Janeiro Wrestling
5  TUR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
6  NGR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
7  NGR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
8  MAR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
9  TUR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
10 IRI 2016 Summer 2016 Summer Rio de Janeiro Wrestling
11 RUS 2016 Summer 2016 Summer Rio de Janeiro Wrestling
12 BUL 2016 Summer 2016 Summer Rio de Janeiro Wrestling
13 ARM 2016 Summer 2016 Summer Rio de Janeiro Wrestling
14 ROU 2016 Summer 2016 Summer Rio de Janeiro Wrestling
15 CMR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
16 GEO 2016 Summer 2016 Summer Rio de Janeiro Wrestling
17 TUN 2016 Summer 2016 Summer Rio de Janeiro Wrestling
18 UKR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
19 MAR 2016 Summer 2016 Summer Rio de Janeiro Wrestling
20 ECU 2016 Summer 2016 Summer Rio de Janeiro Wrestling
   Event                                          Medal
1  Wrestling Men's Middleweight, Greco-Roman      Bronze
2  Wrestling Men's Super-Heavyweight, Greco-Roman NA
3  Wrestling Men's Middleweight, Freestyle        NA
4  Wrestling Women's Light-Heavyweight, Freestyle NA
5  Wrestling Women's Heavyweight, Freestyle       NA
6  Wrestling Women's Featherweight, Freestyle     NA
7  Wrestling Women's Lightweight, Freestyle       NA
8  Wrestling Men's Middleweight, Greco-Roman      NA
9  Wrestling Men's Super-Heavyweight, Freestyle   Gold
10 Wrestling Men's Light-Heavyweight, Greco-Roman NA
11 Wrestling Men's Welterweight, Greco-Roman      NA
12 Wrestling Men's Middleweight, Greco-Roman      NA
13 Wrestling Men's Heavyweight, Greco-Roman       Gold
14 Wrestling Men's Heavyweight, Greco-Roman       NA
15 Wrestling Women's Heavyweight, Freestyle       NA
16 Wrestling Men's Light-Heavyweight, Freestyle   NA
17 Wrestling Women's Lightweight, Freestyle       Bronze
18 Wrestling Men's Heavyweight, Freestyle         NA
19 Wrestling Men's Featherweight, Freestyle       NA
20 Wrestling Women's Lightweight, Freestyle       NA

#### Mutate

In [48]:
#### Ajout d'une nouvelle variable year_start qui définie l'année 1880 comme l'année 0

mutate(dataset, year_start = Year - 1880) %>% head()

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal year_start
1 Basketball Men's Basketball        NA    112
2 Judo Men's Extra-Lightweight       NA    132
3 Football Men's Football            NA     40
4 Tug-Of-War Men's Tug-Of-War        Gold   20
5 Speed Skating Women's 500 metres   NA    108
6 Speed Skating Women's 1,000 metres NA    108

#### Summarise

In [40]:
#### Résumé des données à l'aide de summaryse
#### Somme totale des prénoms

summarise(dataset, somme = sum(Height))

  somme
1 NA

In [41]:
#### Grouper par année et sommer le poins

by_annee <- group_by(dataset, Team)
summarise(by_annee, somme = sum(Weight), na.rm = TRUE) %>% head()

`summarise()` ungrouping output (override with `.groups` argument)

  Team                  somme na.rm
1 30. Februar            NA   TRUE
2 A North American Team  NA   TRUE
3 Acipactli             226   TRUE
4 Acturus                NA   TRUE
5 Afghanistan            NA   TRUE
6 Akatonbo              240   TRUE

In [50]:
dataset %>% filter(Sport == "Judo" | Sport == "Football") %>% arrange(Year)

     ID    Name                                       Sex Age Height Weight
1     2829 Richard Louis Pierre Allemane              M   18  NA     NA
2     6510 Louis Dsir Bach                            M   17  NA     NA
3    12293 Alfred Bloch                               M   NA  NA     NA
4    16085 Claude Percival Buckenham                  M   24  NA     NA
5    16727 Tom Eustace Burridge                       M   19  NA     NA
6    17893 Fernand mile Canelle                       M   18  NA     NA
7    19595 Alfred Ernest Chalk                        M   25  NA     NA
8    27218 Albert Delbecque                           M   NA  NA     NA
9    30724 R. Duparc                                  M   NA  NA     NA
10   36903 Maurice Eugne Fraysse                      M   20  NA     NA
11   37926 Ren Paul Virgile Gaillard                  M   22  NA     NA
12   38830 Georges Garnier                            M   NA  NA     NA
13   41949 William Sullivan Gosling                   M   30  NA     NA
14   42370 Ren Grandjean                              M   NA  NA     NA
15   46449 Henry North Haslam                         M   NA  NA     NA
16   51292 Lucien Paul Nol Huteau                     M   21  NA     NA
17   55677 James Henry Jones                          M   NA  NA     NA
18   58471 Raul Kelecom                               M   NA  NA     NA
19   66151 Marcel Lambert                             M   NA  NA     NA
20   67659 Marcel Leboutte                            M   NA  NA     NA
21   71187 Lucien Jean Londot                         M   NA  NA     NA
22   72827 Maurice Macaire                            M   18  NA     NA
23   81896 Ernest Marie Eugne Adolphe Moreau de Melen M   NA  NA     NA
24   85040 Edmond Neefs                               M   NA  NA     NA
25   85802 John Nicholas                              M   20  NA     NA
26   92824 Georges Pelgrims                           M   NA  NA     NA
27   92908 Gaston Peltier                             M   NA  NA     NA
28    8305 Charles Albert Bartliff                    M   17  NA     NA
29   14530 Joseph J. Brady                            M   NA  NA     NA
30   15188 Warren George Brittingham                  M   17  NA     NA
⋮    ⋮     ⋮                                          ⋮   ⋮   ⋮      ⋮
7449 88738 Srgio  Miguel Relvas de Oliveira           M   24  180     80
7450 89186 Shohei Ono                                 M   24  170     73
7451 89582 Idalys Ortz Bocourt                        F   26  180     95
7452 89632 Rstm Orucov                                M   24  179     73
7453 89742 Ryota Oshima                               M   23  168     64
7454 89801 Diana Carolina Ospina Garca                F   27  157     64
7455 89955 Otgonbaataryn Uuganbaatar                  M   28  178     81
7456 90196 Raymond Ovinou                             M   31  169     68
7457 90328 Bekir zl                                   M   27  170     60
7458 90379 Dorlan Mauricio Pabn Ros                   M   28  168     68
7459 90397 Martin Pacek                               M   29  197    100
7460 90398 Robin Pacek                                M   25  181     81
7461 90435 Gonalo Mendes Pacincia                     M   22  187     80
7462 90616 Ludwig Paischer                            M   34  170     60
7463 90669 Santa Pakenyt                              F   25  186    132
7464 90701 Helibelton Palacios Zapata                 M   23  177     75
7465 90703 Johnny Eulogio Palacios Cacho              M   29  183     82
7466 91037 Pang Fengyue                               F   27  165     59
7467 91273 Amiran Papinashvili                        M   28  162     64
7468 91398 Paula Beln Pareto                          F   30  150     48
7469 91638 Park Yong-Woo                              M   22  186     80
7470 92277 Automne Pavia                              F   27  171     57
7471 92355 Cristian David Pavn                        M   20  175     68
7472 92400 Latitia Payet                              F   30  150     48
7473 92438 Jhonathan Josu Paz Hernndez                M   21  183     81
7474 92969 Victor Rodrigues Penalber de Oliveira      M   26  174     81
7475 93134 Oribe Peralta Morones                      M   32  179     73
7476 93151 Ria Dawn Percival                          F   26  161     57
7477 93190 Jasmine Henrietta Pereira                  F   20  168     66
7478 93202 Marcelo Antonio Pereira Rodrguez           M   21  181     70
     Team                          NOC Games       Year Season City
1    USFSA                         FRA 1900 Summer 1900 Summer Paris
2    USFSA                         FRA 1900 Summer 1900 Summer Paris
3    USFSA                         FRA 1900 Summer 1900 Summer Paris
4    Upton Park FC                 GBR 1900 Summer 1900 Summer Paris
5    Upton Park FC                 GBR 1900 Summer 1900 Summer Paris
6    USFSA                         FRA 1900 Summer 1900 Summer Paris
7    Upton Park FC                 GBR 1900 Summer 1900 Summer Paris
8    Univ. of Brussels             BEL 1900 Summer 1900 Summer Paris
9    USFSA                         FRA 1900 Summer 1900 Summer Paris
10   USFSA                         FRA 1900 Summer 1900 Summer Paris
11   USFSA                         FRA 1900 Summer 1900 Summer Paris
12   USFSA                         FRA 1900 Summer 1900 Summer Paris
13   Upton Park FC                 GBR 1900 Summer 1900 Summer Paris
14   USFSA                         FRA 1900 Summer 1900 Summer Paris
15   Upton Park FC                 GBR 1900 Summer 1900 Summer Paris
16   USFSA                         FRA 1900 Summer 1900 Summer Paris
17   Upton Park FC                 GBR 1900 Summer 1900 Summer Paris
18   Univ. of Brussels             BEL 1900 Summer 1900 Summer Paris
19   USFSA                         FRA 1900 Summer 1900 Summer Paris
20   Univ. of Brussels             BEL 1900 Summer 1900 Summer Paris
21   Univ. of Brussels             BEL 1900 Summer 1900 Summer Paris
22   USFSA                         FRA 1900 Summer 1900 Summer Paris
23   Univ. of Brussels             BEL 1900 Summer 1900 Summer Paris
24   Univ. of Brussels             BEL 1900 Summer 1900 Summer Paris
25   Upton Park FC                 GBR 1900 Summer 1900 Summer Paris
26   Univ. of Brussels             BEL 1900 Summer 1900 Summer Paris
27   USFSA                         FRA 1900 Summer 1900 Summer Paris
28   Christian Brothers' College-1 USA 1904 Summer 1904 Summer St. Louis
29   St. Rose-2                    USA 1904 Summer 1904 Summer St. Louis
30   Christian Brothers' College-1 USA 1904 Summer 1904 Summer St. Louis
⋮    ⋮                             ⋮   ⋮           ⋮    ⋮      ⋮
7449 Portugal                      POR 2016 Summer 2016 Summer Rio de Janeiro
7450 Japan                         JPN 2016 Summer 2016 Summer Rio de Janeiro
7451 Cuba                          CUB 2016 Summer 2016 Summer Rio de Janeiro
7452 Azerbaijan                    AZE 2016 Summer 2016 Summer Rio de Janeiro
7453 Japan                         JPN 2016 Summer 2016 Summer Rio de Janeiro
7454 Colombia                      COL 2016 Summer 2016 Summer Rio de Janeiro
7455 Mongolia                      MGL 2016 Summer 2016 Summer Rio de Janeiro
7456 Papua New Guinea              PNG 2016 Summer 2016 Summer Rio de Janeiro
7457 Turkey                        TUR 2016 Summer 2016 Summer Rio de Janeiro
7458 Colombia                      COL 2016 Summer 2016 Summer Rio de Janeiro
7459 Sweden                        SWE 2016 Summer 2016 Summer Rio de Janeiro
7460 Sweden                        SWE 2016 Summer 2016 Summer Rio de Janeiro
7461 Portugal                      POR 2016 Summer 2016 Summer Rio de Janeiro
7462 Austria                       AUT 2016 Summer 2016 Summer Rio de Janeiro
7463 Lithuania                     LTU 2016 Summer 2016 Summer Rio de Janeiro
7464 Colombia                      COL 2016 Summer 2016 Summer Rio de Janeiro
7465 Honduras                      HON 2016 Summer 2016 Summer Rio de Janeiro
7466 China                         CHN 2016 Summer 2016 Summer Rio de Janeiro
7467 Georgia                       GEO 2016 Summer 2016 Summer Rio de Janeiro
7468 Argentina                     ARG 2016 Summer 2016 Summer Rio de Janeiro
7469 South Korea                   KOR 2016 Summer 2016 Summer Rio de Janeiro
7470 France                        FRA 2016 Summer 2016 Summer Rio de Janeiro
7471 Argentina                     ARG 2016 Summer 2016 Summer Rio de Janeiro
7472 France                        FRA 2016 Summer 2016 Summer Rio de Janeiro
7473 Honduras                      HON 2016 Summer 2016 Summer Rio de Janeiro
7474 Brazil                        BRA 2016 Summer 2016 Summer Rio de Janeiro
7475 Mexico                        MEX 2016 Summer 2016 Summer Rio de Janeiro
7476 New Zealand                   NZL 2016 Summer 2016 Summer Rio de Janeiro
7477 New Zealand                   NZL 2016 Summer 2016 Summer Rio de Janeiro
7478 Honduras                      HON 2016 Summer 2016 Summer Rio de Janeiro
     Sport    Event                          Medal
1    Football Football Men's Football        Silver
2    Football Football Men's Football        Silver
3    Football Football Men's Football        Silver
4    Football Football Men's Football        Gold
5    Football Football Men's Football        Gold
6    Football Football Men's Football        Silver
7    Football Football Men's Football        Gold
8    Football Football Men's Football        Bronze
9    Football Football Men's Football        Silver
10   Football Football Men's Football        Silver
11   Football Football Men's Football        Silver
12   Football Football Men's Football        Silver
13   Football Football Men's Football        Gold
14   Football Football Men's Football        Silver
15   Football Football Men's Football        Gold
16   Football Football Men's Football        Silver
17   Football Football Men's Football        Gold
18   Football Football Men's Football        Bronze
19   Football Football Men's Football        Silver
20   Football Football Men's Football        Bronze
21   Football Football Men's Football        Bronze
22   Football Football Men's Football        Silver
23   Football Football Men's Football        Bronze
24   Football Football Men's Football        Bronze
25   Football Football Men's Football        Gold
26   Football Football Men's Football        Bronze
27   Football Football Men's Football        Silver
28   Football Football Men's Football        Silver
29   Football Football Men's Football        Bronze
30   Football Football Men's Football        Silver
⋮    ⋮        ⋮                              ⋮
7449 Football Football Men's Football        NA
7450 Judo     Judo Men's Lightweight         Gold
7451 Judo     Judo Women's Heavyweight       Silver
7452 Judo     Judo Men's Lightweight         Silver
7453 Football Football Men's Football        NA
7454 Football Football Women's Football      NA
7455 Judo     Judo Men's Half-Middleweight   NA
7456 Judo     Judo Men's Half-Lightweight    NA
7457 Judo     Judo Men's Extra-Lightweight   NA
7458 Football Football Men's Football        NA
7459 Judo     Judo Men's Half-Heavyweight    NA
7460 Judo     Judo Men's Half-Middleweight   NA
7461 Football Football Men's Football        NA
7462 Judo     Judo Men's Extra-Lightweight   NA
7463 Judo     Judo Women's Heavyweight       NA
7464 Football Football Men's Football        NA
7465 Football Football Men's Football        NA
7466 Football Football Women's Football      NA
7467 Judo     Judo Men's Extra-Lightweight   NA
7468 Judo     Judo Women's Extra-Lightweight Gold
7469 Football Football Men's Football        NA
7470 Judo     Judo Women's Lightweight       NA
7471 Football Football Men's Football        NA
7472 Judo     Judo Women's Extra-Lightweight NA
7473 Football Football Men's Football        NA
7474 Judo     Judo Men's Half-Middleweight   NA
7475 Football Football Men's Football        NA
7476 Football Football Women's Football      NA
7477 Football Football Women's Football      NA
7478 Football Football Men's Football        NA

#### Exercice

<div class="alert alert-success">
 <b>EXERCISE</b>:
 <ul>
        <li>Has the number of athletes, nations, and events changed over time?</li>
        <li>Number of men and women over time ?</li>
        <li>Number of women relative to men across countries ?</li>
        <li>Proportion of women on Olympic teams: 1936 ?</li>
        <li>Medal counts for women of different nations: 1936 ?</li>
        <li>Proportion of women on Olympic teams: 1976 ?</li>
        <li>Medal counts for women of different nations: 1976 ?</li>
        <li>Athlete height over time ?</li>
        <li>Athlete weight over time ?</li>

</ul> 

</div>

In [51]:
# count number of athletes, nations, & events, excluding the Art Competitions
counts <- dataset  %>%
  group_by( Year) %>%
  summarise(
    Athletes = length(unique(ID)),
    Nations = length(unique(NOC)),
    Events = length(unique(Event))
  )

`summarise()` ungrouping output (override with `.groups` argument)

In [52]:
counts

   Year Athletes Nations Events
1  1896  124      10      42
2  1900  892      28      88
3  1904  428      15      95
4  1906  568      21      73
5  1908 1408      20     109
6  1912 1676      28     107
7  1920 1885      28     156
8  1924 2467      46     148
9  1928 2504      46     136
10 1932 1546      45     144
11 1936 3514      50     166
12 1948 3549      59     175
13 1952 3879      67     171
14 1956 2824      75     175
15 1960 4147      83     177
16 1964 4283      92     197
17 1968 4596     111     207
18 1972 5545     119     228
19 1976 4869      92     236
20 1980 4284      89     241
21 1984 5618     148     260
22 1988 6889     159     283
23 1992 7716     168     314
24 1994 1130      61      61
25 1996 7180     196     271
26 1998 1442      66      68
27 2000 7312     199     300
28 2002 1582      74      78
29 2004 7209     200     301
30 2006 1680      72      84
31 2008 7385     202     302
32 2010 1679      73      86
33 2012 7237     203     302
34 2014 1847      81      98
35 2016 7635     205     306

In [53]:
dataset  %>%
  group_by( Year,Sex) %>%
  summarise( Athletes = length(unique(ID))
  )
  head()

`summarise()` regrouping output by 'Year' (override with `.groups` argument)

   Year Sex Athletes
1  1896 M    124
2  1900 F     18
3  1900 M    874
4  1904 F      2
5  1904 M    426
6  1906 F      4
7  1906 M    564
8  1908 F     28
9  1908 M   1380
10 1912 F     41
11 1912 M   1635
12 1920 F     58
13 1920 M   1827
14 1924 F    121
15 1924 M   2346
16 1928 F    214
17 1928 M   2290
18 1932 F    164
19 1932 M   1382
20 1936 F    308
21 1936 M   3206
22 1948 F    367
23 1948 M   3182
24 1952 F    416
25 1952 M   3463
26 1956 F    355
27 1956 M   2469
28 1960 F    499
29 1960 M   3648
30 1964 F    596
⋮  ⋮    ⋮   ⋮
40 1984 F   1260
41 1984 M   4358
42 1988 F   1741
43 1988 M   5148
44 1992 F   2183
45 1992 M   5533
46 1994 F    335
47 1994 M    795
48 1996 F   2396
49 1996 M   4784
50 1998 F    510
51 1998 M    932
52 2000 F   2750
53 2000 M   4562
54 2002 F    567
55 2002 M   1015
56 2004 F   2889
57 2004 M   4320
58 2006 F    628
59 2006 M   1052
60 2008 F   3065
61 2008 M   4320
62 2010 F    670
63 2010 M   1009
64 2012 F   3168
65 2012 M   4069
66 2014 F    720
67 2014 M   1127
68 2016 F   3374
69 2016 M   4261

ERROR: ignored

In [54]:
dataset  %>%
  group_by( NOC,Sex) %>%
  summarise( Athletes = length(unique(ID))
  )
  head()

`summarise()` regrouping output by 'NOC' (override with `.groups` argument)

    NOC Sex Athletes
1   AFG F      1
2   AFG M     63
3   AHO F      9
4   AHO M     36
5   ALB F     11
6   ALB M     17
7   ALG F     46
8   ALG M    268
9   AND F     11
10  AND M     29
11  ANG F     60
12  ANG M     77
13  ANT F      9
14  ANT M     37
15  ANZ F      1
16  ANZ M     34
17  ARG F    227
18  ARG M   1091
19  ARM F     23
20  ARM M     94
21  ARU F      4
22  ARU M     11
23  ASA F      5
24  ASA M     15
25  AUS F    910
26  AUS M   1801
27  AUT F    318
28  AUT M   1091
29  AZE F     28
30  AZE M    103
⋮   ⋮   ⋮   ⋮
422 UNK M      2
423 URS F    420
424 URS M   1395
425 URU F     20
426 URU M    240
427 USA F   1810
428 USA M   4937
429 UZB F     52
430 UZB M    127
431 VAN F      7
432 VAN M     12
433 VEN F     67
434 VEN M    305
435 VIE F     31
436 VIE M     41
437 VIN F      5
438 VIN M     14
439 VNM F      2
440 VNM M     24
441 WIF M      9
442 YAR M      9
443 YEM F      2
444 YEM M     22
445 YMD M      3
446 YUG F    107
447 YUG M    697
448 ZAM F     11
449 ZAM M    114
450 ZIM F     50
451 ZIM M     96

ERROR: ignored

In [55]:
 head(NB___MEN <- dataset %>% filter(Sex =="M", Year=="1936") %>% group_by(NOC) %>% summarise(NB_MEN = length(unique(ID))))

`summarise()` ungrouping output (override with `.groups` argument)

  NOC NB_MEN
1 AFG   7
2 ARG  37
3 AUS  24
4 AUT 147
5 BEL 116
6 BER   2

In [56]:
head(NB___WOMEN <- dataset %>% filter(Sex =="F", Year=="1936") %>% group_by(NOC) %>% summarise(NB_WOMEN = length(unique(ID))))

`summarise()` ungrouping output (override with `.groups` argument)

  NOC NB_WOMEN
1 ARG  1
2 AUS  4
3 AUT 15
4 BEL  5
5 BRA  3
6 CAN 20

proportion de femme en 1936

In [57]:
inner_join(NB___MEN,NB___WOMEN, by = "NOC") %>%  select(NOC, NB_MEN, NB_WOMEN) %>%  mutate(proportion_women = (NB_WOMEN/(NB_WOMEN + NB_MEN)*100)) %>% head()

  NOC NB_MEN NB_WOMEN proportion_women
1 ARG  37     1        2.631579
2 AUS  24     4       14.285714
3 AUT 147    15        9.259259
4 BEL 116     5        4.132231
5 BRA  55     3        5.172414
6 CAN  70    20       22.222222

nombre de medaille 1936

In [63]:
head(NB___WOMEN <- dataset %>% filter(Sex =="F", Year=="1936", Medal != "NA") %>% group_by(NOC,Medal) %>% summarise(NB_WOMEN = length(unique(ID))),70)

`summarise()` regrouping output by 'NOC' (override with `.groups` argument)

   NOC Medal  NB_WOMEN
1  ARG Silver 1
2  AUT Bronze 1
3  AUT Silver 1
4  CAN Bronze 4
5  DEN Silver 1
6  GBR Silver 6
7  GER Bronze 5
8  GER Gold   9
9  GER Silver 7
10 HUN Bronze 5
11 HUN Gold   2
12 JPN Gold   1
13 NED Gold   2
14 NED Silver 1
15 NOR Bronze 1
16 NOR Gold   1
17 POL Bronze 1
18 SUI Gold   1
19 SWE Bronze 1
20 TCH Silver 6
21 USA Bronze 5
22 USA Gold   2
23 USA Silver 1

Proportion de femme en  1976

In [61]:
 head(NB___MEN <- dataset %>% filter(Sex =="M", Year=="1976") %>% group_by(NOC) %>% summarise(NB_MEN = length(unique(ID))))
 head(NB___WOMEN <- dataset %>% filter(Sex =="F", Year=="1976") %>% group_by(NOC) %>% summarise(NB_WOMEN = length(unique(ID))))

`summarise()` ungrouping output (override with `.groups` argument)

  NOC NB_MEN
1 AHO  3
2 AND  6
3 ANT  5
4 ARG 42
5 AUS 97
6 AUT 59

`summarise()` ungrouping output (override with `.groups` argument)

  NOC NB_WOMEN
1 ARG  3
2 AUS 22
3 AUT 12
4 BAH  1
5 BAR  2
6 BEL 16

In [62]:
inner_join(NB___MEN,NB___WOMEN, by = "NOC") %>%  select(NOC, NB_MEN, NB_WOMEN) %>%  mutate(proportion_women = (NB_WOMEN/(NB_WOMEN + NB_MEN)*100)) %>% head()

  NOC NB_MEN NB_WOMEN proportion_women
1 ARG 42      3        6.666667
2 AUS 97     22       18.487395
3 AUT 59     12       16.901408
4 BAH  5      1       16.666667
5 BAR  6      2       25.000000
6 BEL 45     16       26.229508

nombre de medaille 1976

In [64]:
head(NB___WOMEN <- dataset %>% filter(Sex =="F", Year=="1976", Medal != "NA") %>% group_by(NOC,Medal) %>% summarise(NB_WOMEN = length(unique(ID))),70)

`summarise()` regrouping output by 'NOC' (override with `.groups` argument)

   NOC Medal  NB_WOMEN
1  BUL Bronze  8
2  BUL Gold    4
3  BUL Silver  3
4  CAN Bronze  7
5  CAN Gold    1
6  CAN Silver  1
7  FIN Gold    1
8  FIN Silver  2
9  FRA Bronze  1
10 FRA Silver  4
11 FRG Bronze  4
12 FRG Gold    2
13 FRG Silver  4
14 GDR Bronze 15
15 GDR Gold   23
16 GDR Silver 20
17 HUN Bronze 12
18 ITA Silver  2
19 JPN Gold    7
20 KOR Bronze  9
21 NED Bronze  1
22 NED Silver  1
23 NOR Bronze  1
24 ROU Bronze  5
25 ROU Gold    1
26 ROU Silver  4
27 SWE Silver  1
28 TCH Bronze  1
29 URS Bronze 18
30 URS Gold   32
31 URS Silver 20
32 USA Bronze 11
33 USA Gold    5
34 USA Silver 19

La taille de l'athlète au fil du temps

In [69]:
dataset %>% na.omit %>% group_by (Year) %>% summarise(moyenne = mean(Height), na.rm = TRUE) %>% head()

`summarise()` ungrouping output (override with `.groups` argument)

  Year moyenne  na.rm
1 1896 179.5000 TRUE
2 1900 180.6842 TRUE
3 1904 175.8000 TRUE
4 1906 180.4103 TRUE
5 1908 176.7073 TRUE
6 1912 177.4157 TRUE

Poids de l'athlète au fil du temps

In [70]:
dataset %>% na.omit %>% group_by (Year) %>% summarise(moyenne = mean(Weight), na.rm = TRUE) %>% head()

`summarise()` ungrouping output (override with `.groups` argument)

  Year moyenne  na.rm
1 1896 74.50000 TRUE
2 1900 76.78947 TRUE
3 1904 71.26667 TRUE
4 1906 76.35897 TRUE
5 1908 73.46341 TRUE
6 1912 72.18539 TRUE

question 10

In [71]:
 head(NB____MEDAL <- dataset %>% filter(Sex =="F", Year>"1986",Medal != "NA", NOC=="GER"| NOC =="RUS" | NOC =="SRB") %>% group_by(NOC,Medal) %>% summarise(NB_MEDAL = length(unique(ID))))

`summarise()` regrouping output by 'NOC' (override with `.groups` argument)

  NOC Medal  NB_MEDAL
1 GER Bronze 111
2 GER Gold    81
3 GER Silver  85
4 RUS Bronze  89
5 RUS Gold    97
6 RUS Silver  97